Repository securesecrets/shade, pull requests merged in 2021-08, with the labels that each got.

#29 Band oracle
  .gitignore
  contracts/compiled/contractlib/oraclelib.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/oracle.wasm.gz
  contracts/mint/src/contract.rs
  contracts/oracle/Cargo.toml
  contracts/oracle/src/contract.rs
  contracts/oracle/src/state.rs
  packages/shade_protocol/src/asset.rs
  packages/shade_protocol/src/lib.rs
  packages/shade_protocol/src/mint.rs
  packages/shade_protocol/src/oracle.rs
Labels: oracle

#33 Contract tester/improve testing script
  Cargo.lock
  README.md
  compile-contracts.sh
  contracts/compiled/__init__.py
  contracts/compiled/checksum/mint.txt
  contracts/compiled/checksum/oracle.txt
  contracts/compiled/contract_tester.py
  contracts/compiled/contractlib/oraclelib.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/oracle.wasm.gz
  contracts/compiled/tester.py
  contracts/compiled/testnet-contracts.json
  contracts/oracle/src/contract.rs
  packages/shade_protocol/src/oracle.rs
Labels: oracle-contract, contract-tester

#36 Setup Shade
  contracts/compiled/checksum/mint.txt
  contracts/compiled/contractlib/contractlib.py
  contracts/compiled/contractlib/mintlib.py
  contracts/compiled/contractlib/oraclelib.py
  contracts/compiled/contractlib/snip20lib.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/tester.py
  contracts/compiled/testnet-contracts.json
  contracts/mint/README.md
  contracts/mint/src/contract.rs
  packages/shade_protocol/src/mint.rs
Labels: contract-tester

#38 Mint/sscrt to shade minting
  Cargo.lock
  contracts/compiled/checksum/mint.txt
  contracts/compiled/checksum/mock_band.txt
  contracts/compiled/checksum/oracle.txt
  contracts/compiled/contractlib/contractlib.py
  contracts/compiled/contractlib/mintlib.py
  contracts/compiled/contractlib/secretlib/secretlib.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/mock_band.wasm.gz
  contracts/compiled/oracle.wasm.gz
  contracts/compiled/tester.py
  contracts/compiled/testnet-contracts.json
  contracts/mint/README.md
  contracts/mint/src/contract.rs
  contracts/mock_band/src/contract.rs
  packages/shade_protocol/src/mint.rs
Labels: mint-contract

#39 Mint | conversion minting
  contracts/compiled/checksum/mint.txt
  contracts/compiled/contractlib/contractlib.py
  contracts/compiled/contractlib/secretlib/secretlib.py
  contracts/compiled/contractlib/snip20lib.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/tester.py
  contracts/compiled/testnet-contracts.json
  contracts/mint/README.md
  contracts/mint/src/contract.rs
  packages/shade_protocol/src/mint.rs
Labels: mint-contract

#52 Mint | Experimental Restructure
  contracts/compiled/checksum/mint.txt
  contracts/compiled/contractlib/mintlib.py
  contracts/compiled/contractlib/utils.py
  contracts/compiled/mint.wasm.gz
  contracts/compiled/tester.py
  contracts/mint/README.md
  contracts/mint/examples/schema.rs
  contracts/mint/src/contract.rs
  contracts/mint/src/state.rs
  packages/shade_protocol/src/mint.rs
Labels: mint-contract, contract-tester
