Repository securesecrets/shade, pull requests merged in 2021-11, with the labels that each got.

#125 Shd stake | rewards distribution
  contracts/staking/src/contract.rs
  contracts/staking/src/handle.rs
  contracts/staking/src/query.rs
  contracts/staking/src/state.rs
  contracts/staking/src/test.rs
  packages/network_integration/src/contract_helpers/stake.rs
  packages/shade_protocol/src/staking.rs
Labels: shd-staking

#117 Add to documentation
  contracts/oracle/README.md
Labels: oracle

#127 Airdrop | completion flags
  contracts/airdrop/src/contract.rs
  contracts/airdrop/src/handle.rs
  contracts/airdrop/src/query.rs
  contracts/airdrop/src/state.rs
  packages/network_integration/src/contract_helpers/initializer.rs
  packages/network_integration/src/contract_helpers/minter.rs
  packages/network_integration/src/contract_helpers/stake.rs
  packages/network_integration/src/utils.rs
  packages/network_integration/tests/testnet_integration.rs
  packages/shade_protocol/src/airdrop.rs
Labels: airdrop

#138 Airdrop | minor tweaks
  contracts/airdrop/src/contract.rs
  contracts/airdrop/src/handle.rs
  contracts/airdrop/src/query.rs
  contracts/airdrop/src/state.rs
  packages/network_integration/Cargo.toml
  packages/network_integration/src/contract_helpers/initializer.rs
  packages/network_integration/src/main.rs
  packages/network_integration/tests/testnet_integration.rs
  packages/shade_protocol/src/airdrop.rs
Labels: airdrop
