Repository securesecrets/shade, pull requests merged in 2021-12, with the labels that each got.

#143 Oracle index
  contractlib/oraclelib.py
  contractlib/secretlib/secretlib.py
  contracts/micro_mint/src/handle.rs
  contracts/mint/src/contract.rs
  contracts/mock_band/src/contract.rs
  contracts/oracle/README.md
  contracts/oracle/src/contract.rs
  contracts/oracle/src/handle.rs
  contracts/oracle/src/query.rs
  contracts/oracle/src/state.rs
  makefile
  packages/shade_protocol/src/oracle.rs
  test-index.py
  test-oracle.py
Labels: oracle

#141 Airdrop account permits
  contracts/airdrop/src/contract.rs
  contracts/airdrop/src/handle.rs
  contracts/airdrop/src/query.rs
  contracts/airdrop/src/state.rs
  contracts/governance/src/handle.rs
  contracts/governance/src/proposal_state.rs
  contracts/governance/src/query.rs
  contracts/staking/src/contract.rs
  contracts/staking/src/handle.rs
  contracts/staking/src/state.rs
  contracts/staking/src/test.rs
  packages/network_integration/tests/testnet_integration.rs
  packages/secretcli/src/cli_types.rs
  packages/secretcli/src/secretcli.rs
  packages/shade_protocol/Cargo.toml
  packages/shade_protocol/src/airdrop/account.rs
  packages/shade_protocol/src/airdrop/claim_info.rs
  packages/shade_protocol/src/airdrop/mod.rs
  packages/shade_protocol/src/governance/mod.rs
  packages/shade_protocol/src/governance/proposal.rs
  packages/shade_protocol/src/governance/vote.rs
  packages/shade_protocol/src/lib.rs
  packages/shade_protocol/src/signature/mod.rs
  packages/shade_protocol/src/signature/transaction.rs
  packages/shade_protocol/src/staking/mod.rs
  packages/shade_protocol/src/staking/stake.rs
Labels: airdrop

#144 [governance] Query proposals by status
  contracts/governance/Cargo.toml
  contracts/governance/src/contract.rs
  contracts/governance/src/lib.rs
  contracts/governance/src/query.rs
  contracts/governance/src/test.rs
  packages/shade_protocol/src/governance/mod.rs
Labels: governance

#145 Airdrop merkle trees
  contracts/airdrop/Cargo.toml
  contracts/airdrop/README.md
  contracts/airdrop/src/contract.rs
  contracts/airdrop/src/handle.rs
  contracts/airdrop/src/query.rs
  contracts/airdrop/src/state.rs
  packages/network_integration/Cargo.toml
  packages/network_integration/tests/testnet_integration.rs
  packages/secretcli/src/secretcli.rs
  packages/shade_protocol/Cargo.toml
  packages/shade_protocol/src/airdrop/account.rs
  packages/shade_protocol/src/airdrop/mod.rs
Labels: airdrop

#150 Airdrop decay
  contracts/airdrop/README.md
  contracts/airdrop/src/contract.rs
  contracts/airdrop/src/handle.rs
  contracts/airdrop/src/lib.rs
  contracts/airdrop/src/query.rs
  contracts/airdrop/src/state.rs
  contracts/airdrop/src/test.rs
  packages/network_integration/tests/testnet_integration.rs
  packages/shade_protocol/src/airdrop/mod.rs
Labels: airdrop

#151 main doc update
  README.md
Labels: documentation

#149 [oracle] Unregister Secret Swap pair
  contracts/oracle/src/contract.rs
  contracts/oracle/src/handle.rs
  contracts/oracle/src/query.rs
  contracts/oracle/src/test.rs
  packages/shade_protocol/src/oracle.rs
Labels: oracle
